  #stone {
    color: #777;
    position: absolute;
    top: 2%; left: 18%
  }
  #stonesell1 {
    position: absolute;
    top: 2%; left: 30%
  }
  #stonesellmax {
    position: absolute;
    top: 2%; left: 34%
  }
  #copper {
    color: #fb5;
    position: absolute;
    top: 5%; left: 18%
  }
  #coppersell1 {
    position: absolute;
    top: 5%; left: 30%
  }
  #coppersellmax {
    position: absolute;
    top: 5%; left: 34%
  }
  #iron {
    color: #ccc;
    position: absolute;
    top: 8%; left: 18%
  }
  #ironsell1 {
    position: absolute;
    top: 8%; left: 30%
  }
  #ironsellmax {
    position: absolute;
    top: 8%; left: 34%
  }
  #silver {
    color: #ddd;
    position: absolute;
    top: 11%; left: 18%
  }
  #silversell1 {
    position: absolute;
    top: 11%; left: 30%
  }
  #silversellmax {
    position: absolute;
    top: 11%; left: 34%
  }
  #gold {
    color: #ee6;
    position: absolute;
    top: 14%; left: 18%
  }
  #goldsell1 {
    position: absolute;
    top: 14%; left: 30%
  }
  #goldsellmax {
    position: absolute;
    top: 14%; left: 34%
  }
  #platinum {
    color: #dda;
    position: absolute;
    top: 17%; left: 18%
  }
  #platinumsell1 {
    position: absolute;
    top: 17%; left: 30%
  }
  #platinumsellmax {
    position: absolute;
    top: 17%; left: 34%
  }
  #diamond {
    color: #9cf;
    position: absolute;
    top: 20%; left: 18%
  }
  #diamondsell1 {
    position: absolute;
    top: 20%; left: 30%
  }
  #diamondsellmax {
    position: absolute;
    top: 20%; left: 34%
  }
  #emerald {
    color: #9fc;
    position: absolute;
    top: 23%; left: 18%
  }
  #emeraldsell1 {
    position: absolute;
    top: 23%; left: 30%
  }
  #emeraldsellmax {
    position: absolute;
    top: 23%; left: 34%
  }
  #ruby {
    color: #f99;
    position: absolute;
    top: 26%; left: 18%
  }
  #rubysell1 {
    position: absolute;
    top: 26%; left: 30%
  }
  #rubysellmax {
    position: absolute;
    top: 26%; left: 34%
  }
  #sapphire {
    color: #66f;
    position: absolute;
    top: 29%; left: 18%
  }
  #topaz {
    color: #fc6;
    position: absolute;
    top: 32%; left: 18%
  }
  #obsidian {
    color: #444;
    position: absolute;
    top: 35%; left: 18%
  }